<a href="https://colab.research.google.com/github/scudilio/Visualizacao_de_dados/blob/master/Formata%C3%A7%C3%A3o_Tabela.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>





 ![texto alternativo](https://raw.githubusercontent.com/scudilio/Visualizacao_de_dados/master/imagens/capaIII.jpg)

#**Visualização de Dados em Python: Formatação de Tabela**

Muitas vezes precisamos utilizar uma tabela para apresentar os resultados e é importante apresentar a tabela da forma mais informativa possível. 

No Python é possível customizar as tabelas da maneira desejada e da forma mais adequada. Nesse notebook apresento algumas opções de formatação de tabelas:

* Mudando a cor da fonte.
* Mundando a cor da célula.
* Adicionando uma gráfico de barra na célula.

Para fazer essas formatação utilizamos o comando 'style' da biblioteca Pandas.

##Gerando os dados

Para exemplificar as diversas maneiras de formatar uma tabela no Python geramos um pequeno conjunto de dados.

In [1]:
import numpy as np
import pandas as pd

In [2]:

notas = {'Alice': np.random.uniform(5, 10, 4).round(1),
              'Bruno': np.random.uniform(0, 7, 4).round(1),
              'Carol': np.random.uniform(3, 7, 4).round(1),
              'David': np.random.uniform(0, 10, 4).round(1),
              'Emily': np.random.uniform(8, 10, 4).round(1)}

In [3]:
provas = pd.DataFrame(notas)
provas.index = ['P1', 'P2', 'P3', 'P4']
df = provas.transpose()
df

        P1   P2   P3   P4
Alice  7.3  7.8  5.4  5.1
Bruno  6.0  3.9  6.5  4.6
Carol  6.3  6.6  6.1  6.6
David  9.7  8.5  8.6  0.9
Emily  9.0  8.7  9.0  8.1

In [4]:
#descritiva do dataset
df.describe()

             P1        P2        P3        P4
count  5.000000  5.000000  5.000000  5.000000
mean   7.660000  7.100000  7.120000  5.060000
std    1.634931  1.968502  1.589654  2.698703
min    6.000000  3.900000  5.400000  0.900000
25%    6.300000  6.600000  6.100000  4.600000
50%    7.300000  7.800000  6.500000  5.100000
75%    9.000000  8.500000  8.600000  6.600000
max    9.700000  8.700000  9.000000  8.100000

In [5]:
#Analisando a descritiva pela linha
df.transpose().describe()

          Alice     Bruno     Carol     David     Emily
count  4.000000  4.000000  4.000000  4.000000  4.000000
mean   6.400000  5.250000  6.400000  6.925000  8.700000
std    1.349074  1.206924  0.244949  4.053291  0.424264
min    5.100000  3.900000  6.100000  0.900000  8.100000
25%    5.325000  4.425000  6.250000  6.600000  8.550000
50%    6.350000  5.300000  6.450000  8.550000  8.850000
75%    7.425000  6.125000  6.600000  8.875000  9.000000
max    7.800000  6.500000  6.600000  9.700000  9.000000

##Adicionando novas variáveis na Tabela

Muitas vezes é necessário criar novas variáveis, a seguir mostramos dois exemplos de como podemos adicionar novas variáveis em um conjunto de dados.

In [6]:
#criado uma variável média
df['MF'] = df.mean(axis = 1).round(1)
df

        P1   P2   P3   P4   MF
Alice  7.3  7.8  5.4  5.1  6.4
Bruno  6.0  3.9  6.5  4.6  5.2
Carol  6.3  6.6  6.1  6.6  6.4
David  9.7  8.5  8.6  0.9  6.9
Emily  9.0  8.7  9.0  8.1  8.7

In [7]:
#criando uma variável situação
def aux(x):
    if x >= 5:
        return 'Aprovado'
    else:
        return 'Reprovado'

df['Situação'] = df['MF'].apply(aux)
df

        P1   P2   P3   P4   MF  Situação
Alice  7.3  7.8  5.4  5.1  6.4  Aprovado
Bruno  6.0  3.9  6.5  4.6  5.2  Aprovado
Carol  6.3  6.6  6.1  6.6  6.4  Aprovado
David  9.7  8.5  8.6  0.9  6.9  Aprovado
Emily  9.0  8.7  9.0  8.1  8.7  Aprovado

#**Formatando a Cor da Letra em uma Tabela**

Numa tabela com as informações das notas é importante realçar os alunos com baixo rendimento e os alunos com um bom rendimento. 

Para isso criamos uma função para definir alguns critérios, aqui vamos mudar a cor da fonte para vermelho para os alunos que tiveram nota inferior a 5 e azul para os alunos com nota acima ou igual a 5.

Criamos uma função para colorir a situação dos alunos (aprovado ou reprovado).

Depois utilizamos o 'style.applymap' para aplicar as funções criadas. O comando 'format' utlizamos para formatar os números.

In [219]:
def cores (notas):
    color = 'red' if notas <5 else 'blue'
    return 'color: %s' % color 
 
def cor(val):
    return 'color: %s' % ('blue' if val in {"Aprovado"} else 'red')

df1 = df.style.applymap(cores, subset=['P1','P2','P3','P4','MF'])\
            .applymap(cor, subset=['Situação'])\
            .format({"P1":"{:50,.2f}",
                  "P2":"{:50,.2f}",
                  "P3":"{:50,.2f}",
                  "P4":"{:50,.2f}",
                "MF":"{:50,.2f}"})
df1

##**Formatando a Cor da Célula em uma Tabela**

E se ao invés de mudar a cor da fonte, o interesse for em colorir a célula (cor de fundo), preciso aplicar a cor no background. Para isso utilizo o comando 'background_gradient',

In [ ]:

df.style.format({"P1":"{:50,.2f}",
                  "P2":"{:50,.2f}",
                  "P3":"{:50,.2f}",
                  "P4":"{:50,.2f}",
                "MF":"{:50,.2f}"})\
        .background_gradient(cmap='Blues')

E se você quiser mudar a cor da célula, utilizando um critério próprio, é preciso criar uma função definindo esse critério e no 'return' aplicamos a cor no background ('background-color').

In [ ]:
def cores (notas):
    color = '#FF9185' if notas <5 else 'lightblue'
    return 'background-color: %s' % color 

df1 = df.style.applymap(cores, subset=['P1','P2','P3','P4','MF'])\
            .applymap(cor, subset=['Situação'])\
            .format({"P1":"{:50,.2f}",
                  "P2":"{:50,.2f}",
                  "P3":"{:50,.2f}",
                  "P4":"{:50,.2f}",
                "MF":"{:50,.2f}"})
df1

##**Adicionando uma Barra nas Linhas da Tabela**

Uma maneira interessante de formatar uma tabela é acrescentando uma barra nas células. Para isso utilizamos o comando 'style.bar'.

In [ ]:
df.style.format({"P1":"{:20,.2f}",
                  "P2":"{:20,.2f}",
                  "P3":"{:20,.2f}",
                  "P4":"{:20,.2f}",
                  "MF":"{:20,.2f}"})\
          .bar(subset=["P1",], color='lightgreen',vmin=0,vmax=10)\
          .bar(subset=["P2",], color='#ee1f5f',vmin=0)\
          .bar(subset=["P3",], color='#FFA07A',vmin=0)\
          .bar(subset=["P4",], color='lightblue',vmin=0)\
          .bar(subset=["MF",], color='#c8a2c8 ',vmin=0)\

In [ ]:
df.style.format({"P1":"{:20,.2f}",
                  "P2":"{:20,.2f}",
                  "P3":"{:20,.2f}",
                  "P4":"{:20,.2f}",
                  "MF":"{:20,.2f}"})\
          .bar(subset=["P1","P2","P3","P4","MF"], color='#FF9185 ',vmin=0,vmax=5)\
          .bar(subset=["P1","P2","P3","P4","MF"], color='lightblue',vmin=5,vmax=10)\

##**Links Úteis**

https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html